* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    height: 70px;   
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(241, 230, 230); /* HORIZONTAL LINE*/
}

/* HAMURGER */
.ham_icon{
    margin: 0 12px;
    opacity: 0.9;
}
.ham_icon a{
    padding: 0 10px;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.ham_icon #cross{
    display: none;
}

.ham_icon #ham{
    display: block;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* @media(max-width:768px){

    .ham_icon #cross{
        display: block;
    }

    .ham_icon #ham{
        display: none;
    }

    .nav_links, .social{
        position: fixed; menu doesn't move even if screen is moved
        left: -100%; to hide menu
        top:70px;
        gap:0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav_links li{
        margin: 10px 0;
    }

    .nav_links.active{
        left: 0; to show again
    }

} */

.ham_icon a:hover {
    color:#2f6697;
}

/* NAME | LOGO */
.name {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: "Lucida Calligraphy";
    /* font-family: "BreveText", helvetica, sans-serif; */
}

.name h1{
    font-size: 36px;
}

.name p{
    opacity: 0.6;
}

/* NAVLINKS */
.nav_links{
    /* margin-right: auto; This element will take all free space at right */
    margin-left: auto;
    margin-right: 10px;
}

.nav_links ul{
    list-style: none;   
}

.nav_links li{
    display: inline-block;
    padding: 0 10px;
}

.nav_links li a {
  transition : all 0.3s ease 0s;
  font-family: "BreveText", helvetica, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color:#000000;
  text-decoration: none;
  opacity: 0.8;
}

.nav_links li a:hover {
    transition : color 0.5s ease 0s;
    color: #3589d2;
    text-decoration: underline; 
}

/* SIGNUPBUTTON */
/* .signup{
    margin: 0;
    padding: 0 10px;
}

.signup button{
    background-color: #2f6697;
    color: #FFFFFF;
    border: none;
    padding: 0.4em 10px;
    border-radius: 2px;
    margin: 15px 0;
}

.signup button:hover{
    cursor: pointer;
} */

/* SOCIAL LINKS */
.social{
    margin: 0 10px;
}
.social a{
    padding: 0 10px;
    margin: 0;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.social a:hover {
    color:#2f6697;
}
/* HAMBURGER TO X and its CONTENT  - make seperate complete element below the navbar and toggle it on or off
RESPONSIVE - this first*/